body {
    text-align: center;
    font-family: "Arial";
    background-color: coral;
    color: grey;
}
.post {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    border: solid 1px #000;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 600;
}